<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active"><strong>Contact</strong></li>
			</ol>
		</div>
	</div>
</div>
<!--end-breadcrumbs-->
<!--start-contact-->
<div class="contact">
	<div class="container">
		<div class="contact-top heading"> 
			<h3>CONTACT US</h3>
		</div>
		<div class="contact-bottom contact-left"> 
			<div class="col-md-8" action='/contact' id='contact' method='post'> 
				<form>
					<input type="text" placeholder="Name*" required="">
					<input type="text" placeholder="E-mail*" required="">
					<input type="text" placeholder="Phone" >
					<textarea placeholder="Your message*" required=""></textarea>
					<!--input type="submit" value="SEND"-->
					<button type="submit" class="btn btn-danger btn-md ">SEND</button>
				</form>
			</div>
			<div class="col-md-4">
				<h3>ĐỊA CHỈ</h3>
				<p><i class="glyphicon glyphicon-map-marker"></i>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Tp.HCM</p>
				<p><i class="glyphicon glyphicon-earphone"></i>090.137.5677</p>
				<a href="#">
					<p style="color: #ea5748;"><i class="glyphicon glyphicon-envelope"></i>royealsneaker@gmail.com</p></a>
				<h3>BUSINESS HOURS</h3>
				<p class="mb50">Monday – Friday: 10am to 10pm<br>
					Saturday & Sunday: 11am to 9pm<br>
					Vacation: Off</p>
			</div>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>

<!--end-contact-->


<!--start-map-->
<div class="map">
	<center>
	<h1>Bản đồ</h1>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6343350735315!2d106.67983811435032!3d10.7626390923309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6pu!5e0!3m2!1svi!2s!4v1491842553036" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</center>
</div>
