<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active"><strong>Map</strong></li>
			</ol>
		</div>
	</div>
</div>
<!--end-breadcrumbs-->

<!--start-map-->

<div class="map">
	<center>
		<h1>Bản đồ</h1>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3919.6342665428015!2d106.679838114317!3d10.76264436239211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2sin!4v1495981301937" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</center>
	
</div>
<!--end-map-->