<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<div class="banner-1"><img style="margin: 0px auto;" class="img-responsive" src="../images/banner.jpg"></div>
				</li>
				<li>
					<div class="banner-2"><img style="margin: 0px auto;" class="img-responsive" src="../images/banner-2.jpg"></div>
				</li>
				<li>
					<div class="banner-3"><img style="margin: 0px auto;" class="img-responsive" src="../images/banner-3.jpg"></div>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 