<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			{{#each slider}}
			    <li>
					<div class="slider"><img style="margin: 0px auto;" class="img-responsive" src="../images/{{image}}"></div>
				</li>
			{{/each}}
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 