<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="top-nav">
				<ul class="memenu skyblue">
				<li class="active">
					<a href="/">TRANG CHỦ</a>
				</li>
					<li class="grid">
						<a href="#">DÒNG SẢN PHẨM</a>
						<div class="mepanel">
							<div class="">
								<div class="col1 me-one">
									<ul>
										{{#each cate}}
										{{#if hide}}
											<li><a href="/danh-muc/{{id}}-{{alias}}.html">{{name}}</a></li>
										{{/if}}
										{{/each}}
									</ul>
			
							</div>
						</div>
					</li>
					<li class="grid">
						<a href="#">TIN TỨC</a>
					</li>
					<li class="grid">
						<a href="#">LIÊN HỆ</a>
					</li>
					<li class="grid">
						<a href="#">GIỚI THIỆU</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--bottom-header-->