
<link rel="stylesheet" href="/assets/css/footer.css">

				<!-- footer 
================================================== -->
<footer>
	<div class="inner-footer">
			<div class="nocontainer ">
				<div class="row">
					<div class="col-md-12">					
							<div class="col-md-3">
								<div class="f-about">
									<h1>Về chúng tôi</h1>
									<p class="mb20">ROYAL Sneaker 
										UY TÍN - CHẤT LƯỢNG là mục tiêu hàng đầu của chúng tôi.

										Đến với chúng tôi đến với mọi thứ ORIGINAL</p>
									<h1>Đăng kí nhận tin</h1>
									<form accept-charset='UTF-8' action='/contact' id='contact' method='post'>
										<input name='FormType' type='hidden' value='contact' />
										<input name='utf8' type='hidden' value='true' />
										<input id="email" name="contact[email]" type="email" value="" class="form-control input_feedback" placeholder="Email của bạn" />
										<input type="submit" value="">
									 </form>
								</div>
							</div>
							<div class="col-md-3">
								<div class="infos">
									<h1>Hỗ trợ</h1>
									<ul>
										<li><a href="/search"> Tìm kiếm</a></li>
										
										<li><a href="/gioi-thieu"> Giới thiệu</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="accoun">
									<h1>Liên kết</h1>
									<ul>
										<li><a href="/"> Trang chủ</a></li>
										
										<li><a href="/"> Dòng sản phẩm</a></li>
										
										<li><a href="/"> Hướng dẫn</a></li>
										
										<li><a href="/"> Tin tức</a></li>
										
										<li><a href="/"> Bản đồ</a></li>
										
										<li><a href="/"> Liên hệ</a></li>
										
										<li><a href="/"> Giới thiệu</a></li>								
									</ul>
								</div>
							</div>	
							<div class="col-md-3">
								<div class="gettouch">
									<h1>Địa chỉ</h1>
									<p><i class="fa fa-home"></i>Trường ĐH KHTN TPHCM</p>
									<p><i class="fa fa-phone"></i>0909.999.999</p>
									<p class="mb20"><i class="fa fa-envelope"></i>dangvantri@gmail.com</p>
									<h1>Mạng xã hội</h1>
									<ul class="footer-socials">
										<li><a href=""><i class="fa fa-facebook"></i></a></li>
										<li><a href=""><i class="fa fa-twitter"></i></a></li>
										<li><a href=""><i class="fa fa-pinterest"></i></a></li>
										<li><a href=""><i class="fa fa-linkedin"></i></a></li>
										<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
	</div>
	<!-- end contanir & inner-footer -->
	<div class="nocontainer ">
					<div class="last-div">
						<div class="row">
							<div class="col-md-12">							
								<div class="copyright">
									©2017 ROYAL SNEAKER <span class="bizweb">Thực hiện bởi <a href="#">Một đống</a></span>
								</div>
								<div class="payment">
									<a href="#"><img src="//bizweb.dktcdn.net/100/028/476/themes/36830/assets/payments.png?1488355300616" alt=""></a>
								</div>
								<div class="clear"></div>
							</div>	
						</div>
	        		</div>
	</div>
</footer>
<!-- End footer -->

