<div class="login-header">
	<div class="container">
		<div class="top-nav">
			<ul class="memenu "><li class="active">
				<li class="grid"><a href="#">Men</a><li>
				<li class="grid"><a href="#">Men</a><li>
			</ul>		
		</div>
	</div>
</div>