	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/">Trang chủ</a></li>
					<li><a href="/danh-muc/{{namecat.id}}-{{namecat.alias}}">{{namecat.name}}</a></li>
					<li class="active">{{product.name}}</li>
				</ol>
			</div>
		</div>
	</div>