			<div class="col-md-3 p-right single-right">
				<h3>Danh mục sản phẩm</h3>
					<ul class="product-categories">
					{{#each cate}}
						<li><a href="/danh-muc/{{id}}-{{alias}}.html">{{name}}</a></li>
					{{/each}}
					</ul>
			</div>