
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Account</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-account-->
	<div class="account">
		<div class="container"> 
			<div class="account-bottom">
				<div class="col-md-6 account-left">
					<form method="post" action="/sign-up">
					<div class="account-top heading">
						<h3>NEW CUSTOMERS</h3>
					</div>
					<div class="address">
						<span>Email</span>
						<input type="email" name="email" required="required" />
					</div>
					<div class="address">
						<span>Password</span>
						<input type="password" name="password" required="required" />
					</div>
					<div class="address">
						<span>Full name</span>
						<input type="text" name="fulname"  required="required" />
					</div>
					<div class="address">
						<span>Phone</span>
						<input type="text" name="phone" required="required" />
					</div>
					<div class="address">
						<span>Password 2</span>
						<input type="password" name="password2" required="required" />
					</div>
					<div class="address">
						<input type="submit" value="Sign-up">
					</div>
					</form>
					<br/>
					{{#if messagesig}}
				        <div class="alert alert-danger">{{messagesig}}</div>
				    {{/if}}
				</div>

				<div class="col-md-6 account-left">
					<form method="post" action="/login">
					<div class="account-top heading">
						<h3>REGISTERED CUSTOMERS</h3>
					</div>
					<div class="address">
						<span>Email Address</span>
						<input type="email" name="email" required="required" />
					</div>
					<div class="address">
						<span>Password</span>
						<input type="password" name="password" required="required" />
					</div>
					<div class="address new">
						<a class="forgot" href="/forgot">Forgot Your Password?</a>
						<input type="submit" value="Login">
					</div>
					</form>
					<br/>
					{{#if messagelog}}
				        <div class="alert alert-danger">{{messagelog}}</div>
				    {{/if}}
				</div>
				<div class="clearfix"> </div>
				
				
			</div>
		</div>
	</div>
	<!--end-account-->
	