<div class="main-content">
				
		{{>header-admin}}
		
		<hr />
		<h2>{{title}}</h2>
		<div class="row">
		<h1>401 - Unauthorized: Access is denied due to invalid credentials</h1>
		You do not have permission to view this directory or page using the credentials that you supplied.
		<hr>
		</div>
		
		<br />

		<!-- Footer -->
		{{>footer-admin}}
	</div>


