<div class="main-content" style="text-align:center">
	<div class="page-error-404">
		<div class="error-symbol">
			<i class="entypo-attention"></i>
		</div>
		
		<div class="error-text">
			<h2>404</h2>
			<h3>Page not found!</h3>
		</div>
		
		<hr>

		<h3 style="font-size:17px;">
			<a href="/">Click here</a> to go to Homepage
			<br> Have a nice Day...
		</h3>
		
	</div>
</div>